
<div class = "new-message-container">

<h2 class="row" id="message-title"> Chat about your rental at <%= link_to @booking.listing.address, listing_path(@booking.listing) %></h2>

<div id='messages' class="row">
</div>

<div class="row">
  <%= form_tag new_booking_message_path(@booking), :id => "form" do %>
  <div id="msg-data-carrier"
  data-from-user-id="<%= current_user.id %>"
  data-address="<%=@booking.listing.address %>"
  data-to-user-id="<%= @booking.other_party(current_user).id %>"
  data-booking-id="<%= @booking.id %>"
   ></div>
  <div id="to>" class="col-xs-12">
    <%= label_tag :to, nil, id: "to-user-tag" %>
    <%= text_field_tag :receiver,@booking.receipient(current_user), :id => "toUser", :disabled=>true %>
    <%= hidden_field_tag "booking_id", @booking.id%>
  </div>
  <div id="from>" class="col-xs-12">
    <%= label_tag :from, nil, id: "from-user-tag" %>
    <%= text_field_tag :sender, current_user.first_name, :id => "fromUser", :disabled=>true%>
  </div>
</div>
  <div class="row">
    <div id="body messaging-body">
      <%= text_area_tag :body, nil, :id => "msgText", rows: 4, class: "col-xs-9"%>
    </div>

    <div class="submit">
      <%= submit_tag("Send", class: "btn btn-default", id: "submit-message", class: "col-xs-3") %>
    </div>
  </div>
  <% end %>


</div>




