
<div class = "new-message-container">

<h3> Chat about your rental at <%= @booking.listing.address %></h3>

<div id='messages' class="row">
</div>

<div class="row"><%= form_tag new_booking_message_path(@booking), :id => "form" do %>
  <div id="msg-data-carrier"
  data-from-user-id="<%= current_user.id %>"
  data-address="<%=@booking.listing.address %>"
  data-to-user-id="<%= @booking.other_party(current_user).id %>"
  data-booking-id="<%= @booking.id %>"
   ></div>
  <div id = "to>">
    <%= label_tag :to %>
    <%= text_field_tag :receiver,@booking.receipient(current_user), :id => "toUser", :disabled=>true %>
    <%= hidden_field_tag "booking_id", @booking.id%>
  </div>
  <div id = "from>">
    <%= label_tag :from %>
    <%= text_field_tag :sender, current_user.first_name, :id => "fromUser", :disabled=>true%>
  </div>
  <div id = "body">
    <%= label_tag :body %>
    <%= text_area_tag :body, nil, :id => "msgText" %>
  </div>

  <div class = "submit">
    <%= submit_tag("Send Message") %>
  </div>
  <% end %>
</div>

</div>




