
	<div id="listingPageContainer">

		<div id="listingPageAddress">
			<form id="newListingForm">
				<div class="form-group">
					<h2><label for="address">Address</label></h2>
					<input type="text" name="address" id="listingAddress" class="form-control" placeHolder="123 Someplace St., New York, NY 10005">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-md btn-default">Continue</button>
				</div>
			</form>
		</div><!--listingPageAddress-->

		<div id="listingPageInfo" class="hide">
			<h2>Space Information</h2>
			<div class="listingPhotoUpload"></div>
			<div class="listingInfo">
				<%=form_for @listing, html: { multipart: true }, class: "form-control" do |f|%>
					<%=f.hidden_field :address%>
					<div class="row">
					<div class="form-group">
						<%=f.label :upload_a_photo, class: "col-xs-12"%>
						<%= f.file_field :photo, class: "col-xs-12", id: 'listing-file-upload'%>
					</div>
					</div>
					<div class="row">
					<div class="form-group">
					<%=f.label :space_description, class: "col-xs-12"%>
					<%=f.text_area :space_description, class: "col-xs-12"%>
					</div>
				</div>
					<div class="row">
					<div class="form-group">
					<%=f.label :neighborhood_info, class: "col-xs-12" %>
					<%=f.text_area :neighborhood_info, class: "col-xs-12" %>
					</div>
				</div>
					<div class="row">
					<div class="form-group">
						<%=f.label :public_transit_info, class: "col-xs-12" %>
						<%=f.text_area :public_transit_info, class: "col-xs-12" %>
					</div>
				</div>
					<div class="row">
					<div class="form-group">
						<%=f.label :other_info, class: "col-xs-12" %>
						<%=f.text_area :other_info, class: "col-xs-12" %>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<%=f.label :rules, class: "col-xs-12" %>
						<%=f.text_area :rules, class: "col-xs-12" %>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
					<%=f.submit "Continue", class: "col-xs-12 btn btn-default", id: "space-continue-btn"%>
				</div>
			</div>
				<%end%>
			</div>

			<div id="static-map">
			  <%= image_tag @map_image, id: "listing-show-map", class: "img-responsive" %>
			</div>


		</div>
	</div>

