<div class="container">
  <%= render 'listing_preview' %>

  <div id="spot-info">
  <p>Space Description: <%= @listing.space_description %></p>
  <p>Neighborhood Information: <%= @listing.neighborhood_info %></p>
  <p>Public Transit: <%= @listing.public_transit_info %></p>
  <p>Additional Information: <%= @listing.other_info %></p>
  </div>
  <div id="listing-rules">
  <p>Rules: <%= @listing.rules %></p>
  </div>

<% if owns?(@listing) %>
	<div id="edit-delete-listing-btn">
		<%= link_to "Edit", edit_listing_path(@listing) %> |
		<%= link_to "Delete", listing_path(@listing), {method: :delete, data: {confirm: "Are you sure you want to delete this listing?"}}  %>
	</div>
<% else %>
	<div id="book-listing-btn">
	  <%= link_to "Book Listing", new_listing_booking_path(@listing)  %>
	</div>
<% end %>

  <div id="static-map">
    <%= image_tag @map_image, id: "listing-show-map" %>
  </div>


<h4> Reviews (<%= @listing.reviews.count %>) </h4>
<% if current_user && current_user != @listing.user %>
  <%= link_to "Review this listing", new_listing_review_path(@listing) %>
<% end %>
<ul>
<% @listing.reviews.each do |review| %>
<li>From <%= link_to review.reviewer.first_name, user_path(review.reviewer) %>
    on <%= review.created_at.strftime("%B %d, %Y") %> <br>
    <%= review.review_body %> <br></li>
  <li> Rating:
    <% review.review_score.times do %>
      <%= image_tag("star.png", size: "20x20") %>
    <% end %></li>
<% end %>
</ul>
</div>

