<div id="listingShow" data-id="<%=@listing.id%>">
  <%= render 'listing_preview' %>

  <div id="spot-info">
  <p>Space Description: <%= @listing.space_description %></p>
  <p>Neighborhood Information: <%= @listing.neighborhood_info %></p>
  <p>Public Transit: <%= @listing.public_transit_info %></p>
  <p>Additional Information: <%= @listing.other_info %></p>
  </div>
  <div id="listing-rules">
  <p>Rules: <%= @listing.rules %></p>
  </div>

<% if owns?(@listing) %>
	<div id="edit-delete-listing-btn">
		<%= link_to "Edit", edit_listing_path(@listing) %> |
		<%= link_to "Delete", listing_path(@listing), {method: :delete, data: {confirm: "Are you sure you want to delete this listing?"}}  %>
	</div>
<% else %>
	<div id="book-listing-btn">
	  <button onClick="showCalendar()" class="btn btn-default">Check Availability</button>
	</div>
<% end %>

  <div id="static-map">
    <%= image_tag @map_image, id: "listing-show-map", class: "img-responsive" %>
  </div>



<h4> Reviews (<%= @listing.reviews.count %>) </h4>
<% if current_user && current_user != @listing.user %>
  <%= link_to "Review this listing", new_listing_review_path(@listing), class: "btn btn-default" %>
<% end %>
<ul>
<% @listing.reviews.each do |review| %>
<li>From <%= link_to review.reviewer.first_name, user_path(review.reviewer) %>
    on <%= review.created_at.strftime("%B %d, %Y") %> <br>
    <%= review.review_body %> <br></li>
  <li> Rating:
    <% review.review_score.times do %>
      <%= image_tag("star.png", size: "20x20") %>
    <% end %></li>
<% end %>
</ul>
</div>

<div id="availabilityFilter" class="hide">
	<select class="form-control" id="vehicleClassSelect">
		<option value="0">Compact Vehicle</option>
		<option value="1">Full Size Vehicle</option>
		<option value="2">SUV</option>
	</select>
	<button id="submitVehicleClass" class="btn btn-primary btn-lg btn-block" onclick="displayCalendar(0)">Check </button>
	<div id="date-cal-div">
		<button class="btn btn-md btn-primary" onclick="moveBookingCalendar('backward')">Last Month</button>
		<button class="btn btn-md btn-primary" onclick="moveBookingCalendar('forward')">Next Month</button>
		<button class="btn btn-md btn-default" onclick="changePsindex('backward')">Last Parking Slot</button>
		<button class="btn btn-md btn-default" onclick="changePsindex('forward')">Next Parking Slot</button>
		<table class="table" id="bookingCalendarTable" data-offset="0" data-psindex="0">

		</table>
	</div>
	<div id="totalDisplay"></div>
	<button id="saveFilterButton" class="btn btn-primary btn-lg btn-block" onclick="confirmBooking()">Continue to Payment</button>
</div>


