<h2>Edit Profile</h2>

<%= form_for @user, html: { multipart: true } do |f| %>
<div class="row">
  <div id = "first_name" class="form-group">
    <%=f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
</div>

<div class="row">
  <div id = "last_name" class="form-group">
    <%=f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
</div>

<div class="row">
  <div id = "email-contact" class="form-group">
    <%=f.label :email %>
    <%= f.text_field :email %>
  </div>
</div>

<div class="row">
  <div id = "phone-contact" class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
</div>

<div class="row">
  <div id = "location" class="form-group">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  </div>
</div>

<div class="row">
  <div id = "user-personalization" class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
</div>

<div class="row">
  <div id = "user-avatar" class="form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
</div>

<div class="row">
  <div id = "submit" class="form-group">
    <%= f.submit %>
  </div>
</div>

<% end %>
