<h1> Hey, I'm <%= @user.first_name %>! </h1>

<% if current_user.id != @user.id %>
  <% unless current_user.favorite_users.exists?(id: @user.id) %>
    <%= link_to 'Add to favorites', user_favorite_users_path(user_id: @user), method: :post %>
  <% else %>
    <%= link_to 'Remove from favorites', user_favorite_user_path(user_id:@user.id, favorite_user_id: @user.id), method: :delete %>
  <% end %>
<% end %>

<h4> Member since: <%= @user.created_at.strftime("%B %d, %Y") %> </h4>

<h4> Last seen: <%= @user.last_sign_in_at.strftime("%B %d, %Y") %> </h4>

<h4> Reviews (<%= @user.reviews.count %>) </h4>
<ul>
  <% @user.reviews.each do |review| %>
   <li>From <%=link_to review.user.first_name, user_path(review.user) %>
  on <%= review.created_at.strftime("%B %d, %Y") %> <br>
  <%= review.review_body %> <br>
  Rating: <%= review.review_score %> </li>
<% end %>
</ul>

<h4> Favorited Listings </h4>
<ul>
  <% @user.favorites.each do |favorite| %>
    <% if favorite.favorited_type == "Listing" %>
      <%= link_to favorite.favorited.street, listing_path(favorite.favorited_id) %>
    <% end %>
  <% end %>
</ul>

<h4> Favorited Users </h4>
<ul>
  <% @user.favorites.each do |favorite| %>
    <% if favorite.favorited_type == "User" %>
      <%= link_to favorite.favorited.first_name, user_path(favorite.favorited_id) %>
    <% end %>
  <% end %>
</ul>
