<!DOCTYPE html>
<html>
<head>
  <title>Drivewaze</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag "https://cdn.firebase.com/js/client/2.2.1/firebase.js" %>
  <script src="https://maps.googleapis.com/maps/api/js?&libraries=places"></script>
  <%= javascript_include_tag 'application'%>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" %>
  <%= csrf_meta_tags %>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.5.0/fullcalendar.min.css' />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.5.0/fullcalendar.min.js'></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <style>
  tr{
    height:3em;
  }
  .selected{
    /*background-color: #C1C1C1;*/
    background-image: linear-gradient(to bottom,#BDBDBD 0,#BDBDBD 100%);
  }
  .selected:focus, .selected:hover{
    background-color:#C1C1C1;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <h1 id="logo" class="navbar-brand"><%= link_to "spcs", root_path %></h1>


        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li id="username"><%= link_to current_user.first_name, user_path(current_user.id) %><li>
          <li id="logout"><%= link_to 'Logout',  destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li id="login"><%= link_to 'Login', new_user_session_path %></li>
          <li id="signup"><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
        </ul>
    </div>
  </nav>
  <% if flash.any? %>
    <div id="flash" class="container">
       <% flash.each do |type, message| %>
       <div class="<%= type %> ">
            <%= message %>
        </div>
        <% end %>
    </div>
  <% end %>
    <%= yield %>
</body>
</html>
